<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="../public/css/general.css">
    <link rel="stylesheet" href="../public/css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <button @click="submit">发表</button>
    </div>
    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            data: {},
            methods: {
                submit() {
                    console.log('submit')
                    axios({
                        method: 'get',
                        url: '/'
                    }).then((result) => {
                        console.log(JSON.parse(result))
                    })
                }
            },
        });
    </script>

    <!-- <div class="head">
        <h1 class="head_title">反馈</h1>
    </div>
    <div class="main">
        <div class="main_post"><a class="post" href="/post">发表</a></div>
        <div class="main_list">
            <ul>
                <li>小红1：学习快乐</li>
                <li>小红2：加油努力</li>
                <li>小红3：环游世界</li>
                <li>小红4：认清自己</li>
            </ul>
        </div>
    </div>
    <script src="../public/js/index.js"></script> -->
</body>

</html>